.columns {
  display: grid;
  gap: var(--spacing-medium);
}

.columns.columns-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.columns.columns-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.columns.columns-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

@media (width <= 768px) {
  .columns {
    grid-template-columns: 1fr;
  }
}

.columns > :is(.column, div) {
  display: flex;
  flex-direction: column;
  gap: var(--columns-spacer-s);
  padding: var(--spacing-15) var(--spacing-6);
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.columns > :is(.column, div) img {
  width: 100%;
}

.columns > :is(.column, div) > div {
  order: 1;
  min-width: 0;
}

.columns > :is(.column, div).columns-img-col,
.columns > :is(.column, div) > .columns-img-col {
  order: 0;
}

.columns > :is(.column, div).columns-img-col img,
.columns > :is(.column, div) > .columns-img-col img {
  display: block;
}

.columns.columns-reverse-mobile > :is(.column, div),
.columns[data-reversemobile='reverse-mobile'] > :is(.column, div) {
  flex-direction: column-reverse;
}

.columns.columns-dark,
.columns[data-background='dark'] {
  background-color: var(--background-primary);
  color: var(--text-primary-inverse);
}

.columns.columns-wide-gap > :is(.column, div),
.columns[data-gap='wide-gap'] > :is(.column, div) {
  gap: var(--spacing-layout-gap-wide);
}

.columns.columns-spacer-s > :is(.column, div),
.columns[data-gap='spacer-s'] > :is(.column, div) {
  gap: var(--columns-spacer-s);
}

.columns.columns-spacer-m > :is(.column, div),
.columns[data-gap='spacer-m'] > :is(.column, div) {
  gap: var(--columns-spacer-m);
}
