.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns.columns-wide-gap > div {
  gap: var(--layout-grid-gutter-wide, var(--spacing-layout-gap-wide));
}

.columns.columns-reverse-mobile > div {
  flex-direction: column-reverse;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: var(--layout-grid-gutter, var(--spacing-6));
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns.columns-2-cols.layout-60-40 > div {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
  }

  .columns.columns-2-cols.layout-40-60 > div {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
  }

  .columns.columns-2-cols.layout-70-30 > div {
    display: grid;
    grid-template-columns: 7fr 3fr;
    align-items: center;
  }

  .columns.columns-2-cols.layout-30-70 > div {
    display: grid;
    grid-template-columns: 3fr 7fr;
    align-items: center;
  }
}
