.section.spacing-s {
  padding-top: var(--spacing-6);
  padding-bottom: var(--spacing-6);
}

.section.spacing-m {
  padding-top: var(--spacing-9);
  padding-bottom: var(--spacing-9);
}

.section.spacing-l {
  padding-top: var(--spacing-12);
  padding-bottom: var(--spacing-12);
}

.section.spacing-xl {
  padding-top: var(--spacing-20);
  padding-bottom: var(--spacing-20);
}

.section[data-background='dark'] {
  background-color: var(--background-primary);
  color: var(--text-primary-inverse);
}

@media (width >= 900px) {
  .section.spacing-m {
    padding-top: var(--spacing-10);
    padding-bottom: var(--spacing-10);
  }

  .section.spacing-l {
    padding-top: var(--spacing-15);
    padding-bottom: var(--spacing-15);
  }

  .section.spacing-xl {
    padding-top: var(--spacing-24);
    padding-bottom: var(--spacing-24);
  }
}
